extends ./../../layout/admin-layout

block content
            #page-wrapper
                .row.page-titles
                    .col-md-5.align-self-center
                        h3.text-themecolor Project Planner
                    .col-md-7.align-self-center
                        ol.breadcrumb
                            li.breadcrumb-item.active Create/ Select Project
                -if(messages.msg_error)
                    each error in messages.msg_error
                        .alert.alert-danger #{error}
                -else if(messages.msg_info)
                    .alert.alert-success #{messages.msg_info}
                form#newSiteForm(accept-charset='utf-8', method='post', name='jobForm', action='/admin/project-planner/edit-jobs/#{id}')
                        input(type="hidden", name="id" value=jobDetails.id)
                        input(type="hidden", name="jobSupervisor" value=jobDetails.jobSupervisor)
                        .container-fluid
                            // /row
                            .row
                                .col-md-12
                                    .card
                                        .card-header
                                            h4 Project Information
                                        .card-body
                                            .row
                                                .col-sm-4
                                                    label Project Name
                                                        span.text-danger  *
                                                    input.form-control(type='text', name='jobName', value=jobDetails.jobName placeholder="Project Name")
                                                .col-sm-4
                                                    label Project Number
                                                        span.text-danger  *
                                                    input.form-control(type='text', name='jobCode', id='jobCode', value=jobDetails.jobCode, placeholder="Job Code")
                                                //- .col-sm-4
                                                //-     label Project Trade
                                                //-         span.text-danger  *
                                                //-     select.wide.form-control(id='jobType', name='jobType', required, onchange='getSkills(this.value)')
                                                //-         each jobTypes in jobtype
                                                //-             if jobTypes.id == jobDetails.jobTypeId
                                                //-                 option(selected="true",value=jobTypes.id) #{jobTypes.type_name}
                                                //-             else	
                                                //-                 option(value=jobTypes.id) #{jobTypes.type_name}
                                                           
                                                //- .col-sm-12.m-clear.skills-field
                                                //-     label Skills
                                                //-         span.text-danger  *
                                                //-     .custom-checkbox(id='allSkills')
                                                //-         input(type="checkbox", id="selectAll")
                                                //-         label(for="selectAll") Select All;
                                                //-     .custom-checkbox(id='skills')
                                            .row
                                                .col-sm-4.m-clear
                                                    label Working Hours Per Day
                                                    input.form-control(type='number', name='workingHoursPerDay', class='calculate_days', id='workingHoursPerDay',value=jobDetails.workingHoursPerDay, min='1', max='24', autocomplete="off")
                                                .col-sm-4.m-clear
                                                    label Working Day Per Week
                                                    input.form-control(type='number', name='workingDayPerWeek', class='calculate_days', id='workingDayPerWeek', value=jobDetails.workingDayPerWeek, min='1', max='7', autocomplete="off")
                                                .col-sm-4.m-clear
                                                    label Hours Per Week
                                                    input.form-control(type='number', class='hoursCount', readonly)
                                            .row
                                                .col-sm-4.m-clear
                                                    label Proposed Start Date
                                                        span.text-danger  *
                                                    input.form-control(type='text',placeholder='MM/DD/YYYY', name='proposedStartDate', value=moment(jobDetails.proposedStartDate).isValid() ? moment(jobDetails.proposedStartDate).format('MM/DD/YYYY') : "",data-toggle='datepicker',class='caculate_weeks', id='proposedStartDate', autocomplete="off")
                                                .col-sm-4.m-clear
                                                    label Proposed End Date
                                                        span.text-danger  *
                                                    input.form-control(type='text',placeholder='MM/DD/YYYY', name='proposedEndDate', value=moment(jobDetails.proposedEndDate).isValid() ? moment(jobDetails.proposedEndDate).format('MM/DD/YYYY') : "",data-toggle='datepicker',class='caculate_weeks', id='proposedEndDate',autocomplete="off")
                                                 .col-sm-4.m-clear
                                                    label Total No. Of Days
                                                    input.form-control(type='number', class='daysCount',name='days_count', value=jobDetails.days_count, readonly)
                                            .row
                                                .col-sm-4.m-clear
                                                    label Proposed Budget (With $)
                                                        span.text-danger  *
                                                    input.form-control(type='number', value=jobDetails.proposed_budget, min='1',name='proposed_budget', autocomplete='off', step='any', required)
                                            .row
                                                .col-sm-12
                                                    label Description Of Project
                                                        span.text-danger  *
                                                    textarea.form-control.height-200.textarea(rows='5', placeholder='Project Description', name='description', minlength='5', required) #{jobDetails.description}

                        .container-fluid
                            .row
                                .col-md-12
                                    .card.phase-information
                                        .card-header
                                            h4 Additional Information
                                        .card-body
                                            .row
                                                .col-sm-6
                                                    label No. Of Vacancies
                                                    input.form-control.vacancy-field(type='number', min='1',  name='noOfVacancy' value=jobDetails.noOfVacancy)
                                                //- .col-sm-6
                                                //-     label Number of Phases :
                                                //-     select.form-control#noPhase(name='noOfPhases') 
                                                //-         option(value='1' selected=jobPhases.length ==1) 1
                                                //-         option(value='2' selected=jobPhases.length ==2) 2
                                                //-         option(value='3' selected=jobPhases.length ==3) 3
                                                //-         option(value='4' selected=jobPhases.length ==4) 4
                                                //-         option(value='5' selected=jobPhases.length ==5) 5
                                                //-         option(value='6' selected=jobPhases.length ==6) 6
                                                //-         option(value='7' selected=jobPhases.length ==7) 7
                                                //-         option(value='8' selected=jobPhases.length ==8) 8
                                                //-         option(value='9' selected=jobPhases.length ==9) 9
                                                //-         option(value='10' selected=jobPhases.length ==10) 10
                                            .row
                                                .text-right.form-group.btnSubmit
                                                    button.btn.btn-success(type='submit') Submit & Exit

            script(type="text/javascript").
                var k = !{JSON.stringify(url)};
               
                if($('#jobType').val() !== "0"){
                    var val=$('#jobType').val();
                    getSkills(val)
                }
                $('#jobType').on('change', function(){
                    if($(this).val() !== "0"){
                        $('.skills-field').slideDown();
                    } else{
                        $('.skills-field').slideUp();
                    }
                })
                function getSkills(val) {
                    var url = k+"getSkill/"+val;
                    var skills='#{jobDetails.skills_id}';
                    $.ajax({
                        type: "GET",
                        url: url,
                        data: val,
                        success: function(data){
                            //var skills = selectedSkills.split(',');
                            var data = data.data;
                            var htmld= " ";
                            data.forEach(function(val, index){

                                if (skills.indexOf(val.id.toString()) >= 0){
                                    htmld += "<div class='col-md-6'><input type='checkbox' id='skills' checked name='skills' value ='"+val.id+"'> <label for='skills'>" +val.name + " </label></div>"	
                                }else{
                                    htmld += "<div class='col-md-6'><input type='checkbox' id='skills' name='skills' value ='"+val.id+"'> <label for='skills'>" +val.name + " </label></div>"
                                }	
                            })
                            htmld += "<br><br>"
                            $("#skills").html(htmld);
                        }
                    });
                }
                var phase;
              
                $(document).ready(function(){
                    //- $(".hoursCount").val(Difference_In_Hours)
                    $(".caculate_weeks").on('change', function(e) {
                        var start_date = $('#proposedStartDate').val(), 
                            endDate = $('#proposedEndDate').val(), 
                            date1 = new Date(start_date); 
                            date2 = new Date(endDate); 
                            // To calculate the time difference of two dates 
                        var Difference_In_Time = date2.getTime() - date1.getTime(); 
                        
                        // To calculate the no. of days between two dates 
                        var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); 
                        $(".daysCount").val(Difference_In_Days)
                    });

                    $(".calculate_days").on('change', function(e) {
                        var hoursPerDay = $('#workingHoursPerDay').val(), 
                            dayPerWeek = $('#workingDayPerWeek').val(), 
                            hours = hoursPerDay; 
                            days = dayPerWeek; 
                        var Difference_In_Hours = (Math.round(hours)) * days; 
                        $(".hoursCount").val(Difference_In_Hours)
                    });
                   
                    setTimeout(function(){
                       phase = !{JSON.stringify(jobPhases)};
                        if(phase.length){
                            $('#noPhase').val(phase.length.toString()).trigger('change');
                        }
                      
                    },1000)

                    $('[data-toggle="datepicker"]').datepicker({
                        autoHide: true,
                        zIndex: 2048,
                    });

                    //- $('#selectAll').click(function(){
                    //-     if($(this).is(':checked')){
                    //-         $('#skills').find('input[type="checkbox"]').prop('checked', true);
                    //-     } else{
                    //-         $('#skills').find('input[type="checkbox"]').prop('checked', false);
                    //-     }
                    //- })


                    $(document).find('[name="proposedStartDate"],[name="proposedEndDate"]').datepicker('setStartDate', new Date());

                    $('body').find('[name="proposedStartDate"]').datepicker().change(function(e){
                        $(document).find('[name="proposedEndDate"]').datepicker('setStartDate', new Date(e.target.value));
                    }) 

                    $('body').find('[name="proposedEndDate"]').datepicker().change(function(e){
                        $(document).find('[name="proposedStartDate"]').datepicker('setEndDate', new Date(e.target.value));
                    }) 

                    //- $('#noPhase').on('change', function(){
                    //-     let val =  $(this).val();
                    //-      var btnSubmit = $('body').find('.btnSubmit').detach();
                    //-        $(this).closest('.phase-information').nextAll('.phase-information').remove();
                       
                    //-        var options = [];
                    //-     var i;
                    //-     for(i=0; i < val; i++){
                             
                    //-         $(document).find('.phase-information').last().after(
                    //-             $('<div>',{'class': 'card phase-information' ,}).append(
                    //-                 $('<div>', {'class': 'card-header'}).append(
                    //-                 $('<h4>').text('Phase').append(
                    //-                     $('<span>',{'class':'close fa fa-close fa-fw pull-right text-danger'})
                    //-                 )
                    //-                 ),
                    //-                 $('<div>',{'class': 'card-body'}).append(
                    //-                 $('<div>', {'class':'row'}).append(
                    //-                         $('<div>',{ 'class': 'col-md-4'}).append(
                    //-                             $('<label>').text('Phase Name'),
                    //-                             $('<input>', {'type': 'text', 'name': 'phaseName', 'class': 'form-control'}).val($('input[name="jobName"]').val()+'_Phase'+(i+1))

                    //-                         ),
                    //-                         $('<div>',{ 'class': 'col-md-4'}).append(
                    //-                             $('<label>').text('Start Date'),
                    //-                             $('<input>', {'type': 'text', 'name': 'startDate', 'class': 'form-control', 'data-toggle' : 'datepicker'})

                    //-                         ),
                    //-                         $('<div>',{ 'class': 'col-md-4'}).append(
                    //-                             $('<label>').text('End Date'),
                    //-                             $('<input>', {'type': 'text', 'name': 'endDate', 'class': 'form-control' , 'data-toggle':'datepicker'})

                    //-                         ),
                    //-                         $('<div>',{ 'class': 'col-md-4'}).append(
                    //-                             $('<label>').text('Phase Discription'),
                    //-                             $('<input>', {'type': 'text', 'name': 'phaseDescription', 'class': 'form-control'})
                    //-                         ),
                                        
                    //-                 )
                    //-                 )
                    //-             ),
                            
                    //-         )

                    //-         $(document).find('.phase-information').last().find('.card-body').append(btnSubmit);
                    //-         $('[data-toggle="datepicker"]').datepicker({
                    //-             autoHide: true,
                    //-             zIndex: 2048,
                    //-         });

                    //-         $(document).find('[name="startDate"],[name="endDate"]').datepicker('setStartDate', new Date());

                    //-         $('body').find('[name="startDate"]').datepicker().change(function(e){
                    //-             $(document).find('[name="endDate"]').datepicker('setStartDate', new Date(e.target.value));
                    //-         }) 

                    //-         $('body').find('[name="endDate"]').datepicker().change(function(e){
                    //-             $(document).find('[name="startDate"]').datepicker('setEndDate', new Date(e.target.value));
                    //-         }) 

                    //-         $.each(phase, function(i, fieldName){
                    //-             $('input[name="phaseDescription"]').eq(i).val(fieldName.phaseDescription);
                    //-             $('input[name="phaseName"]').eq(i).val(fieldName.phaseName);
                    //-             $('input[name="startDate"]').eq(i).val(moment(fieldName.startDate).isValid() ? moment(fieldName.startDate).format('MM/DD/YYYY'): "");
                    //-             $('input[name="endDate"]').eq(i).val(moment(fieldName.startDate).isValid() ? moment(fieldName.endDate).format('MM/DD/YYYY'): ""); 
                    //-         })
                    //-     }
                      
                    //- })

                })
              
               
                $(document).on('click','.close', function(){
                    var btnSubmit = $('body').find('.btnSubmit').detach();
                    $(this).closest('.card.phase-information').remove();
                    $(document).find('.phase-information').last().append(btnSubmit);
                })
                
                
                $('#jobCode').on('blur', function() {
                    var inputValue = $(this).val();
                    var url= k+"getjobCode/"+inputValue;
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data){
                            var jobCode = data.data;


                            if(jobCode == 1){
                                $('#jobCode').next('span').remove();
                                $('#jobCode').after('<span style="color:red">This code has already taken.</span>')
                            } else {
                                
                                $('#jobCode').next('span').remove();
                            }
                        }
                    });
                  });