extends ./../../layout/hr-layout

block content
        #page-wrapper
            .row.page-titles
                .col-md-5.align-self-center
                    h3.text-themecolor HR
                .col-md-7.align-self-center
                    ol.breadcrumb
          
            .container-fluid.techChat
                -if(messages.msg_error)
                    .alert.alert-danger #{messages.msg_error}
                -else if(messages.msg_info)
                .row
                    .col-md-4.col-xl-3.chat
                        .card.mb-sm-3.mb-md-0.contacts_card
                            .card-header.custom-input-group
                                p Customer Support
                                |  
                                form(accept-charset='utf-8', method='post', name='searchForm', id='form', action="/admin/hr/chatUser")                       
                                    .input-group.mb-3
                                        input.form-control.search-username(type='text', placeholder='Find User', aria-label='Username', name='search', value=search, aria-describedby='basic-addon1')
                                        .input-group-prepend
                                            span#basic-addon1.input-group-text
                                                button(onclick="/admin/hr/chatUser", title='View On Map')
                                                    i.fa.fa-search
                                        
                                       
                            .card-body.contacts_body
                                ul.contacts
                                    each messages in msg
                                        li(onclick='scrollToBottom()')
                                            //- a(href='#chat-div'+messages.msg_to, class=(msg_to == messages.msg_to) ? "show_message active" : "show_message" , data-msg_from=messages.msg_from, data-msg_to=messages.msg_to, data-name=messages.name,data-profileImage=messages.profileImage, data-uid=uid, data-token=token)
                                            a(href='#chat-div'+messages.msg_to, class=(msg_to == messages.msg_to) ? "show_message" : "show_message" , data-msg_from=messages.msg_from, data-msg_to=messages.msg_to, data-name=messages.name,data-profileImg=messages.profileImg, data-uid=uid, data-token=token)
                                                .d-flex.bd-highlight
                                                    if(messages.profileImg)
                                                        .img_cont
                                                            img.rounded-circle.user_img(src='/uploads/profile_img/#{messages.profileImg}')
                                                            |                                         
                                                    else
                                                        .img_cont
                                                            img.rounded-circle.user_img(src='/images/client-1.jpg')
                                                            |     
                                                    .user_info
                                                        p
                                                        | #{messages.name}
                                                        //- span.msg_count 3
                                                        //- span.msg_count 3
                                               
                                                                 
                    .col-md-8.col-xl-6.chat
                        #chat-div130.show_message
                            .card.change_message
                                .card-header.msg_head
                                    .d-flex.bd-highlight
                                        .img_cont
                                            if(msg[0].profileImg)
                                                img.rounded-circle.user_img.user_msg_image(src='/uploads/profile_img/#{msg[0].profileImg}')
                                            else
                                                img.rounded-circle.user_img(src='/images/client-1.jpg')
                                        .user_info
                                            //- span.white.user_name #{msg[0].name}
                                            span.white.user_name #{msg[0].name}
                                #msg-body.card-body.msg_card_body
                                    each msgToFrom in msgDetails
                                        if(uid != msgToFrom.msg_from)
                                            .d-flex.justify-content-start.mb-4.receiver
                                                .msg_cotainer
                                                    | #{msgToFrom.message}
                                                    span.msg_time  #{moment(msgToFrom.time).format('MM-DD-YYYY hh:mm A')}
                                            .unread
                                                | unread msg
                                                
                                        else
                                            .d-flex.justify-content-end.mb-4.sender
                                                .msg_cotainer_send
                                                    //- if(msgToFrom.msg_from)
                                                    | #{msgToFrom.message}
                                                    span.msg_time  #{moment(msgToFrom.time).format('MM-DD-YYYY hh:mm A')}
                                            .unread
                                                | unread msg
                                                
                                .card-footer
                                    .input-group
                                        //- .input-group-append
                                        //-     span.input-group-text.attach_btn
                                        //-         i.fa.fa-paperclip
                                        textarea.form-control.type_msg(name='', placeholder='Type your message...', data-value=uid, data-userid=msg[0].msg_to, data-token=token) 
                                        .input-group-append
                                            span.input-group-text.send_btn
                                                i.fa.fa-paper-plane
            script(type='text/javascript').
                var k = !{JSON.stringify(url)};
                $(window).load(function() {
                    //- clickContact();
                    $('ul.contacts li:first-child').addClass('selected');
                    if($(".contacts li").is('.selected')){
                        $(".contacts li.selected a").click()
                    } else{
                            $(".contacts li.first-child a").click();
                    }
                    $("#msg-body").animate({ 
                        scrollTop: $('#msg-body').get(0).scrollHeight 
                    })
                });
                
                $(document).ready(function(){
                    clickContact();
                    chatList();
                    $(".contacts_body").animate({ scrollTop: 0 }, "slow");
                    setInterval(function() {
                        //- $(".contacts li a").click()
                        if($(".contacts li").is('.selected')){
                          $(".contacts li.selected a").click()
                        } else{
                             $(".contacts li.first-child a").click();
                        }
                        chatList();
                        $(".contacts_body").animate({ scrollTop: 0 }, "slow");

                        //- alert("Message to alert every 5 seconds");
                    }, 10000);
                   
                    var textarea = $('.type_msg');
                    textarea.on('keypress', function(e){
                        if(e.which == 13){
                            $('.send_btn').trigger('click');
                        }
                    
                    })

                    $(".chat").show();

                    $('.send_btn').on('click', function(){
                        $("#msg-body").animate({ 
                            scrollTop: $('#msg-body').get(0).scrollHeight 
                        })
                        var id = $('textarea.type_msg').attr('data-value');
                        var userId = $('textarea.type_msg').attr('data-userid');
                        var message = $('textarea.type_msg').val();
                        var token = $('textarea.type_msg').attr('data-token');
                        if(message != ''){
                            $.ajax({
                                type: "POST",
                                url: k+'senderMsg',
                                async: false,
                                data:{ 
                                    'id': id,
                                    'message': message,
                                    'userId': userId,
                                    'token': token,
                                },
                                success: function(data){
                                    const date = moment(),
                                    curr = +moment(),
                                    time = date.format("MM-DD-YYYY hh:mm A")
                                    $('textarea.type_msg').val('');
                                    $('.msg_card_body').append('<div class="d-flex justify-content-end mb-4 sender"><div class="msg_cotainer_send">'+message+'<span class="msg_time_send">'+time+'</span></div>')
                                }
                            })
                        } else {
                            alert("please enter any message to send")
                        }
                        
                    })
                });
               
                
                function clickContact() {
                    $(".contacts li a").click(function(event) {
                        event.preventDefault();
                        let{msg_from, msg_to, name, profileimg, uid, token} =$(this).data();
                        var href = $(this).attr('href');
                        //- $(".contacts li a").removeClass('active')
                        $(".contacts li").removeClass('selected'); 
                        //- $(this).addClass("active")
                        $(this).parent().addClass('selected'); 
                        
                        $.ajax({
                            type: "POST",
                            url: k+'getMsgDetail',
                            async: false,
                            data:{'msg_from': uid, 'msg_to': msg_to, 'uid': uid, 'token': token},
                            success: function(response){
                                if(response.msgDetails[0].profileImg)
                                    $(".user_msg_image").attr('src', '/uploads/profile_img/'+profileimg)
                                else 
                                    $(".user_msg_image").attr('src', '/images/client-1.jpg')
                                $(".user_name").text(name)
                                var data = response.msgDetails;
                                $('.type_msg').attr('data-userid',msg_to);
                                $('.msg_card_body').empty()
                                $.each(data, function(key, value) {
                                    if(uid == value.msg_from) {
                                        $('.msg_card_body').append('<div class="d-flex justify-content-end mb-4 sender"><div class="msg_cotainer_send">'+value.message+'<span class="msg_time_send">'+moment(value.time).format('MM-DD-YYYY hh:mm A')+'</span></div>');
                                    } else {
                                        $('.msg_card_body').append('<div class="d-flex justify-content-start mb-4 receiver"><div class="msg_cotainer">'+value.message+'<span class="msg_time_send">'+moment(value.time).format('MM-DD-YYYY hh:mm A')+'</span></div></div>')
                                    }
                                })
                            }
                        })
                    });
                }
               

                function chatList() {
                    let{msg_from, msg_to, name, profileImage, uid, token} =$(this).data();
                    
                    $.ajax({
                        type: "GET",
                        url: k+'getUpadtedUserList',
                        data:{'uid': uid, 'token': token},
                        success: function(data){
                            if(data['success']){
                                var li = [];
                                $.each(data['msg'], function(i, data){
                                  li += '<li><a href="#chat-div'+data.msg_to+'" data-msg_from='+data.msg_from+' data-msg_to='+data.msg_to+' data-name='+data.name+' data-uid='+data.uid+' data-token='+data.token+' class="show_message"><div class="d-flex bd-highlight"><div class="img_cont"><img src='+data.profileImg+' class="rounded-circle user_img"></div><div class="user_info">'+data.name+'</div></div></a></li>';

                                })
                              
                            //-    $('.contacts_body ul.contacts').empty().append(li);


                                  //- $('.contacts_body').append('<ul class="contacts"><li><a href="#chat-div"'+msg_to+' data-msg_from='+msg_from+' data-msg_to='+msg_to+' data-name='+name+' data-uid='+uid+' data-token='+token+' class="show_message"><div class="d-flex bd-highlight"><div class="img_cont"><img src='+profileImage+' class="rounded-circle user_img"></div><div class="user_info">'+name+'</div></div></a></li></ul>')

                            }

                        }
                    });
                    
                }
                function scrollToBottom() {
                    var objDiv = document.getElementById("msg-body");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }



         
                
            