extends ./../../layout/hr-layout

block content
			#page-wrapper
				.row.page-titles
					.col-md-5.align-self-center
						h3.text-themecolor Hr
					.col-md-7.align-self-center
						ol.breadcrumb
							li.breadcrumb-item.active Update Role
				.container-fluid
					-if(messages.msg_error)
						.alert.alert-danger #{messages.msg_error}
					-else if(messages.msg_info)
						.alert.alert-success #{messages.msg_info}
					.row
						.col-md-12.col-sm-12
							each value in skills
								form#newSiteForm(accept-charset='utf-8', method='post', name='loginForm', action='/admin/hr/editRoles')
									// General Information
									.card
										.card-header
											h4 Added Skills
										.card-body
											.row
												.col-md-12
													.row
														.col-sm-4
															label Name
															input.form-control(type='hidden', name='id', value=value.id,  required)
															input.form-control(type='text', name='type_name', value=value.type_name,  required)
														.col-sm-8
															label Description Of Role
															textarea#description.form-control.height-120.textarea(placeholder='About Jobs', name='description', minlength='5') #{value.description}

												.col-md-12
													.text-right
														button.btn.btn-success(type='submit') Submit & Exit

